.image {
    width: 100%;
    border: 3px solid var(--border-color);
    background-image: var(--image-placeholder-url);
    background-position: center;
    background-repeat: no-repeat;
}

.project-default .image {
  background-color: #ffffff;
  background-image: var(--image-default-placeholder-url);
}

.project-inverse .image, 
.project-brand .image {
  background-color: #000000;
  background-image: var(--image-inverse-placeholder-url);
}