.placeholder {

    &_size {
        &_m {
            width: 72px;
            height: 72px;
        }
    }

    &_view {
      &_default {
        background: var(--text-color-primary);
      }
    }
}