.informer {
    background: var(--bg-default);

    &_border {
      &_all {
        border: 3px solid var(--border-color);
      }
    }

    &__content {
        display: flex;
        flex-direction: column;

        &_distribute {
            &_default {
                // justify-content: flex-start;
                align-items: flex-start;
            }

            &_center {
                // justify-content: center;
                align-items: center;
            }

            &_between {
                // justify-content: space-between;
                align-items: space-between;
            }
        }

        &_space-a {
            &_xl {
                padding: var(--padding-xl);
            }   

            &_xxl {
                padding: var(--padding-xxl);
            }
        }
    }

    &__action {
        display: flex;

        &_distribute {
            &_default {
                justify-content: flex-start;
            }

            &_center {
                justify-content: center;
            }

            &_between {
                justify-content: space-between;
            }
        }

        &_space-a {
            &_xl {
                padding: var(--padding-xl);
            }   

            &_xxl {
                padding: var(--padding-xxl);
            }
        }
    }
}