.commercial {
  min-height: 430px;

  &__image {
    height: 180px;
    background-image: var(--image-inverse-placeholder-url);
  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-top: var(--padding-s);
  }

  &__page-button {
    width: 8px;
    height: 8px;
    background: var(--text-color-primary);
    margin-right: var(--padding-xs);

    &:last-child {
      margin-right: 0;
    }
  }
}